body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(237, 237, 237);
  color: #333;
}

header {
  background-color: rgb(237, 237, 237);
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#logo {
  height: 60px;
  margin-right: 20px;
}

#search-templates, #template-name-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.main-content {
  display: flex;
  align-items: flex-start;
}

.functions-section {
  height: 200px;
  width: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  overflow-y: auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.functions-section h2 {
  margin-top: 0;
  color: #82734B;
  border-bottom: 2px solid #82734B;
  padding-bottom: 5px;
}

.functions-section #db-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.content-sections {
  flex-grow: 1;
  padding: 20px;
  margin-left: 240px;
  padding-top: 0;
}

.content-sections h2 {
  margin-top: 0;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #82734B;
  border-bottom: 2px solid #82734B;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.qty-btn, 
.remove-btn, 
.remove-part-btn, 
.remove-template-btn, 
.build-btn, 
#m-build-btn, 
.approve-btn, 
.add-part-btn, 
.multi.build-btn, 
.add-template-btn {
  padding: 8px 12px;
  margin: 2px;
  cursor: pointer;
  background-color: #82734B;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.qty-btn:hover, 
.remove-btn:hover, 
.remove-part-btn:hover, 
.remove-template-btn:hover, 
.approve-btn:hover, 
.build-btn:hover, 
#m-build-btn:hover, 
.add-part-btn:hover, 
.multi.build-btn:hover, 
.add-template-btn:hover {
  background-color: #6e5f3f;
}

.qty-value {
  margin: 0 10px;
}

#inventory-controls, #template-controls {
  display: flex;
  gap: 10px;
}

#inventory-controls input, #template-controls input {
  padding: 10px;
  width: calc(25% - 10px);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#add-inventory-btn, 
#add-template-btn, 
.add-part-btn, 
.build-btn, 
.approve-btn, 
.multi.build-btn,
#max-inv-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #82734B;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#add-inventory-btn:hover, 
#add-template-btn:hover, 
.add-part-btn:hover, 
.build-btn:hover, 
#m-build-btn:hover, 
.approve-btn:hover, 
.multi.build-btn:hover,
#max-inv-btn:hover {
  background-color: #6e5f3f;
}

/* Style for enabled buttons */
.multi.build-btn:enabled, 
.build-btn:enabled, 
#m-build-btn:enabled, 
.approve-btn:enabled,
#max-inv-btn:enabled {
  background-color: #82734B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Style for disabled buttons */
.multi.build-btn:disabled, 
.build-btn:disabled, 
#m-build-btn:disabled, 
.approve-btn:disabled,
#max-inv-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Hover effect for enabled buttons */
.multi.build-btn:enabled:hover, 
.build-btn:enabled:hover, 
#m-build-btn:enabled:hover, 
.approve-btn:enabled:hover,
#max-inv-btn:enabled:hover {
  background-color: #6e5f3f;
}

.template-container {
  max-height: 400px;
  overflow-y: auto;
}

.template {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.template-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.template-name {
  font-weight: bold;
  font-size: 18px;
  flex-grow: 1;
}

.template-details {
  margin-top: 20px;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.template-qty {
  margin-right: 10px;
}

.template-details.hidden {
  max-height: 0;
  overflow: hidden;
}

.template-details table {
  margin-top: 20px;
}

#db-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 20px;
}

#import-db-input {
  display: none;
}

button {
  max-height: 40px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #82734B;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6e5f3f;
}

#m-build-btn {
  margin-bottom: 5px;
}